.ng-dropdown-panel {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin-top: 8px;
    margin-left: -12px;
    background: white;
    border: 1px solid;
    border-radius: 4px;
    border-top: none;
    padding: 8px;
}